<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
      <add name="DatabaseEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\Just4Fun\MyShows\MyShows2.db&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
  <startup  useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime  version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="false">

    <!-- Exception layout -->
    <variable name="excLayout" value="${exception:format=Type,Message,StackTrace:separator=&#13;&#10;}"/>

    <!-- Message layout -->
    <variable name="msgLayout" value="${logger:shortName=True}: ${message}"/>

    <!-- Full layout (msgLayout + excLayout) -->
    <variable name="fullLayout" value="${msgLayout}  ${excLayout}" />

    <targets async="true">

      <!-- Colored console target -->
      <target name="coloredConsole" xsi:type="ColoredConsole" layout="${fullLayout}"/>

    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    </rules>
  </nlog>
</configuration>
